{% extends "base.html" %}

<!--导入Bootstrap中预先定义好的表单样式渲染Flask-WTF表单-->
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}
<!--使用known参数在欢迎消息中加入第二行，从而对已知用户和新用户显示不同的内容-->
{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
<!--添加和表单相关的渲染代码-->
{{ wtf.quick_form(form) }}

{% endblock %}